h1,.mydiv
{
    background: brown;
    color: aliceblue;
}

h1
{
    text-align: center;
    padding: 10px;
}

.mydiv
{
    margin: 100px;
    padding: 20px;
}

.head
{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.table
{
    margin: 100px 0 0 200px;
    width: 70%;
}

.add
{
    margin-top: 10px;
    margin-left: 200px;
}

.mybtn{
    font-size: 14px;
}